<h1 id="readme">README</h1>

<p>This README would normally document whatever steps are necessary to get your application up and running.</p>

<h3 id="whatisthisrepositoryfor">What is this repository for?</h3>

<ul>
<li>Quick summary</li>

<li>Version</li>

<li><a href="https://bitbucket.org/tutorials/markdowndemo">Learn Markdown</a></li>
</ul>

<h3 id="howdoigetsetup">How do I get set up?</h3>

<ul>
<li>Summary of set up</li>

<li>Configuration</li>

<li>Dependencies</li>

<li>Database configuration</li>

<li>How to run tests</li>

<li>Deployment instructions</li>
</ul>

<h3 id="contributionguidelines">Contribution guidelines</h3>

<ul>
<li>Writing tests</li>

<li>Code review</li>

<li>Other guidelines</li>
</ul>

<h3 id="whodoitalkto">Who do I talk to?</h3>

<ul>
<li>Repo owner or admin</li>

<li>Other community or team contact</li>
</ul>